In [ ]:
import spacy
import pandas as pd
from sklearn.metrics import accuracy_score

In [ ]:
nlp = spacy.load('en_core_web_sm')

In [ ]:
data = pd.read_excel('/content/sample.xlsx')
data.columns

Index(['Sentences'], dtype='object')

In [ ]:
df = data.copy()
# df.drop(['Taxonomy','Sentiment','Mood','Tense'],axis=1,inplace=True)

In [ ]:
df.shape

(4, 1)

In [ ]:
def get_entities(sent):
  ## chunk 1
  ent1 = ""
  ent2 = ""

  prv_tok_dep = ""    # dependency tag of previous token in the sentence
  prv_tok_text = ""   # previous token in the sentence

  prefix = ""
  modifier = ""

  for tok in nlp(sent):
    if tok.dep_.find("subj") == True:
        ent1 = modifier +" "+ prefix + " "+ tok.text
        prefix = ""
        modifier = ""
        prv_tok_dep = ""
        prv_tok_text = "" 
  return ent1.strip()

In [ ]:
subResultList = df['Sentences'].apply(get_entities)

In [ ]:
df['Subject'] = subResultList

In [ ]:
df.head()

                     Sentences  Subject
0     Horses are running fast.   Horses
1    Mr. Lincoln is a good man  Lincoln
2  The Maple tree is too tall.     tree
3     The film had 200 patents     film

In [ ]:
df.to_excel("output.xlsx")